.fancy-button::before {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    transform: translateY(100%);
    content: '';
    background: var(--foreground);
    transition: 0.5s ease-out transform;
    z-index: -1;
}

.fancy-button:hover::before {
    transform: translateY(0);
}

